body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background:white;
  /*height:30px;*/
  padding:5px;
  margin-bottom:20px;
}

body {
  background:lightgray;
}

.box {
  background:white;
}

.side-video {
  border-bottom:1px solid lightgray;
  background:white;
  padding:10px;
  max-width: 400px;
  margin:0 auto;
}

.container {
  padding:0px;
  margin: 0px;
}

.img-responsive {
  margin: 0 auto;
}

.logo {
  width:40px;
  height:40px;
  float:left;
}

input[type=text] {
  height:29px;
  margin-top:5px;
  width:50%;
  padding-left: 10px;
  border:1px solid lightgray;
}

.fa-search {
  font-size:12px;
}

.search-button {
  height: 29px;
  margin-top: -1px;
  border:1px solid lightgray;
  background:white;
  border-radius:0px;
  padding-bottom:10px;
  line-height:16px;
}
