body {
  font-family: 'Roboto', sans-serif;
  background:lightgray;
}

#youtube-player {
  width:100%;
}

.nav {
  background:#333;
  color:red;
  /*height:30px;*/
  padding:10px;
  margin-bottom:40px;
  box-shadow: 0px 3px 3px #333;
}

.box {
  background:white;
  max-width: 600px;
  margin:0px auto;
}

.segment {
  margin-top:10px;
  margin-bottom:10px;
  background:white;
  padding:15px;
  box-shadow: 0px 3px 6px #333;
}

.block-quote {
  margin-left:15px;
  padding-left:15px;
  border-left:3px solid gray;
  color:gray;
}

.side-video {
  border:1px solid lightgray;
  background:white;
  padding:10px;
  max-width: 800px;
  margin:0 auto;
  box-shadow: 0px 3px 6px #333;
  font-size:12px;
}

.side-video-author {
  text-align: center;
  font-size:12px;
  padding-top:5px;
}

.fa.fa-hand-o-right {
  padding-right:5px;
  font-size:18px;
}

.container {
  padding:0px;
  margin: 0px;
}

.container-fluid {
  max-width:1000px;
}

.img-responsive {
  margin: 0 auto;
}

.logo {
  width:100px;
  height:40px;
  float:left;
}

input[type=text] {
  width:50%;
  max-width:500px;
  padding-top:8px;
  padding-left: 10px;
  font-size:25px;
  background:transparent;
  border:none;
  ;
}

.btn:hover, .btn-active, .btn-focus, .btn-visited {
  color:red;
  outline: none;
}

input:focus, textarea:focus {
    outline: none;
}

.fa-search {
  font-size:25px;
}

.search-button {
  padding:5px;
  color:red;
  background:transparent;
  font-size:25px;
  margin-top:-8px;
}
