.nav {
  background:white;
  /*height:30px;*/
  padding:20px;
  margin-bottom:20px;
}

body {
  background:lightgray;
}

.box {
  background:white;
}

.side-video {
  border-bottom:1px solid lightgray;
  background:white;
  padding:10px;
  max-width: 400px;
  margin:0 auto;
}

.container {
  padding:0px;
  margin: 0px;
}

.img-responsive {
  margin: 0 auto;
}
